<a href="{{ siteUrl }}" class="logo">
	<span class="icon icon-shape-g"></span>
	<span class="icon icon-shape-u"></span>
	<span class="shape-x">
		<span class="icon icon-shape-x-up"></span>
		<span class="icon icon-shape-x-down"></span>
	</span>
</a>