{% import "_imports/_utils" as utils %}

<div class="video-player not-played" data-loop="{{ video.loop ? 'true' : 'false' }}">

	<video preload="none">
		<source src="{{ video.url }}" type="video/mp4">
	</video>

	{% if video.videoPoster|length > 0 %}
	<div class="poster" style="{{ utils.retinaBackground(video.videoPoster[0], 600) }}" data-preload></div>
	{% endif %}

	<div class="controls">
		<button class="icon play paused"></button>
		<div class="slider">
			<div class="track">
				<div class="fill"></div>
			</div>
		</div>
	</div>

</div>