{% import "_imports/_utils" as utils %}

{% set firstImage = workflow.step[0].image[0] %}

<figure class="workflow carousel {% if workflow.step|length == 1 %}single{% endif %}">

	<div class="image-container" style="width:{{ utils.getActualImageWidth(firstImage, 960) }}px">
		<div class="scroller" style="padding-bottom:{{ (firstImage.height/firstImage.width*100)|round }}%">
			<ul>
			{% for step in workflow.step %}
			    <li>
			    	{% set image = step.image[0] %}
			    	<img {{ utils.srcset(image, 960, true) }} draggable="false">
			   	</li>
			{% endfor %}
			</ul>
		</div>
	</div>

	<div class="pagination">
		<div class="dots step-1">
		{% for i in 1..(workflow.step|length) %}
			<button data-step="{{i-1}}"></button>
		{% endfor %}
		</div>

		<button class="icon icon-arrow-next next-button"></button>
	</div>

</figure>