*.DS_Store
craft/app/*
craft/config/license.key
craft/storage/*
!craft/storage/backups
source/bower_components
source/node_modules
source/.sass-cache
source/assets/js/thirdparty/closure-library
source/assets/images/upload-backup
public/assets/images/upload
public/assets/videos/upload