{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% set Copy = {} %}

{# store a variable of template copies from global copy #}
{% for _copy in copy.dictionary %}
	{% set Copy = Copy|merge({(_copy.id): _copy.text}) %}
{% endfor %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US"
	{% if craft.request.isMobileBrowser(true) %}class="touch"{% endif %}
	{% if pageId is defined %}data-page="{{ pageId }}"{% endif %}>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<meta content="{{ craft.request.url }}" property="og:url">
	<meta content="{% block ogTitle %}{% endblock %}" property="og:title">
	<meta content="{% block ogDescription %}{% endblock %}" property="og:description">
	<meta content="{{ siteUrl }}{% block ogImage %}{% endblock %}" property="og:image">

	<title>{{ siteName }}{% if pageTitle is defined %} - {{ pageTitle }}{% endif %}</title>
	
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/static/misc/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/static/misc/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/static/misc/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/static/misc/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/images/static/misc/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/static/misc/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/images/static/misc/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/static/misc/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="/assets/images/static/misc/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="/assets/images/static/misc/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="/assets/images/static/misc/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/assets/images/static/misc/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="/assets/images/static/misc/favicon-128.png" sizes="128x128" />

	<link rel="stylesheet" href="/assets/styles/css/gux.css">

	<script>(function(w){var dpr=((w.devicePixelRatio===undefined)?1:w.devicePixelRatio);if(!!w.navigator.standalone){var r=new XMLHttpRequest();r.open('GET','assets/php/retinaimages.php?devicePixelRatio='+dpr,false);r.send()}else{document.cookie='devicePixelRatio='+dpr+'; path=/'}})(window)</script>

	<!-- Google Analytics -->
	<script>
		window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
		ga('create', 'UA-80520758-1', 'auto');
		ga('send', 'pageview');
	</script>
	<script async src='https://www.google-analytics.com/analytics.js'></script>
	<!-- End Google Analytics -->
</head>

<body>
	{% block body %}
	{% endblock %}

	{% block scripts %}
	{% endblock %}
</body>
</html>
