{% extends "_extends/_layout" %}

{% block body %}
<header id="main-header">
	<div class="branding">
		{% include "_includes/_logo" %}
		<span class="vertical-bar"></span>
		<h1 class="subheading">
			<span>{{ siteName }}</span>
			<span>{{ Copy.specialty }}</span>
		</h1>
	</div>

	<div class="menu {% if showMenuButton is not defined or showMenuButton != true %}hide{% endif %}">
		<button class="hamburger-button">
			<div class="hamburger">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="icon icon-arrow-down arrow"></div>
			</div>
			<p>{% if pageTitle is defined %}{{ pageTitle }}{% endif %}</p>
		</button>
	</div>

	<button id="mobile-hamburger-button" class="hamburger-button">
		<div class="hamburger">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="icon icon-arrow-down arrow"></div>
		</div>
	</button>

	<nav class="navigation">
		<ul>
			<li>
				<a href="/"
					{% if craft.request.firstSegment == 'projects' %}class="active"{% endif %}
					data-id='home' data-ajax="true" data-text="{{Copy.projects}}">
					<span>{{Copy.projects}}</span>
				</a>
			</li>
			<li>
				<a href="{{ url('labs') }}"
					{% if craft.request.firstSegment == 'labs' %}class="active"{% endif %}
					data-id='labs' data-ajax="true" data-text="{{Copy.labs}}">
					<span>{{Copy.labs}}</span>
				</a>
			</li>
			<li>
				<a href="{{ url('about') }}"
					{% if craft.request.firstSegment == 'about' %}class="active"{% endif %}
					data-id='about' data-ajax="true" data-text="{{Copy.about}}">
					<span>{{Copy.about}}</span>
				</a>
			</li>
		</ul>
	</nav>
</header>

<nav id="portfolio-navigation" data-category="{% if portfolioCategory is defined %}{{ portfolioCategory|lower }}{% endif %}">
	<div class="inner">
		<div class="particles-container">
			<ul class="projects">
			{% for entry in craft.entries.section('portfolio').find() %}
				{% if entry.portfolioCategory.first() == 'Projects' %}
				<li>
					<a href="{{ entry.url }}"
						{% if pageTitle is defined and pageTitle == entry.title %}class="active"{% endif %}
						data-slug="{{entry.slug}}" data-ajax="true">
						<div class="icon {{entry.color}}"></div><h6>{{ entry.title }}</h6>
					</a>
				</li>
				{% endif %}
			{% endfor %}
			</ul>

			<ul class="labs">
			{% for entry in craft.entries.section('portfolio').find() %}
				{% if entry.portfolioCategory.first() == 'Labs' %}
				<li>
					<a href="{{ entry.url }}"
						{% if pageTitle is defined and pageTitle == entry.title %}class="active"{% endif %}
						data-slug="{{entry.slug}}" data-ajax="true">
						<div class="icon {{entry.color}}"></div><h6>{{ entry.title }}</h6>
					</a>
				</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>

		<button class="icon icon-close close"></button>
	</div>
</nav>

<div id="fullscreen-loader-container"></div>

<div id="image-viewer-container"></div>

<div id="main-container">
	<div id="main-intro">
		<div class="container">
			<div class="canvas-container"></div>
			<div class="text-container">
				<div class="logo">
					<span>Grace</span>
					<span>Experience</span>
				</div>
				<div class="quotation">
					{% set quotation = intro.quotation[ date().timestamp % (intro.quotation | length) ].content %}
					{% set lines = quotation|split('\n') %}
					{% for line in lines %}
			            <p>{{ line }}</p>
			        {% endfor %}
					<div class="border"></div>
					<div class="logo"></div>
				</div>
			</div>
		</div>
		<div class="bottom-bar hide">
			<button class="scroll loading"></button>
		</div>
	</div>
	
	<div id="main-content">
	{% block content %}
	{% endblock %}
	</div>
</div>

<div id="main-scrollbar" class="scrollbar">
	<div class="handle"></div>
</div>

<div id="contact-form-container" class="hide">
	<div class="overlay"></div>
	<div class="inner">
	{% include "_includes/_contact-form" %}
	</div>
</div>

<div id="passcode-form-container" class="hide">
	<div class="overlay"></div>
	<div class="inner">
	{% include "_includes/_passcode-form" %}
	</div>
</div>

{% endblock %}

{% block scripts %}

{% if craft.request.getQuery('touch') == 'true' %}
<script src="http://cdn.rawgit.com/hammerjs/touchemulator/master/touch-emulator.js"></script>
<script>
  TouchEmulator();
</script>
{% endif %}

<!-- third-party -->
<script src="{{ siteUrl }}/assets/js/thirdparty.js"></script>

<!-- main js -->
<script src="{{ siteUrl }}/assets/js/source/thirdparty/closure-library/closure/goog/base.js"></script>
<script src="{{ siteUrl }}/assets/js/source/project/gux-deps.js"></script>
<script src="{{ siteUrl }}/assets/js/source/project/gux.js"></script>

<!-- execute main js-->
<script>
	var config = {
		basePath: '{{ siteUrl }}',
		imagesPath: '{{ siteUrl }}/assets/images/static/',
		videosPath: '{{ siteUrl }}/assets/videos/static/',
		app: 'main'
	};

	gux.init( config );
</script>
{% endblock %}