{#
 # Project entry template
 # -------------------
 #
 # This template gets loaded whenever a Project (from projects or labs) entry’s URL is requested.
 #}

{% set isAjax = (craft.request.getQuery("ajax") == "true") ? true : false %}
{% extends isAjax ? "_extends/_main-content" : "_extends/_main" %}

{% import "_imports/_utils" as utils %}

{% set pageTitle = entry.title %}
{% set portfolioCategory = entry.portfolioCategory[0] %}
{% set showMenuButton = true %}

{% block ogTitle %}{{ entry.ogTitle|default(entry.title) }}{% endblock %}
{% block ogDescription %}{{ entry.ogDescription|default(entry.shortDescription) }}{% endblock %}
{% block ogImage %}{{ (entry.ogImage|length > 0) ? entry.ogImage[0].url : "/" }}{% endblock %}

{% block content %}
<div id="project-container">

	<section class="intro">
		<div class="container">
			<div class="media-container">
				<div class="image" style="background-image: url({{ entry.promotionalImage[0].url }})"></div>
			</div>
			<div class="text-container">
				<div class="masthead">
					<h6 class="subheading above {{ entry.color }}">{{ entry.genre }}</h6>

					{% include "_includes/_border-heading"
						with {'tag': 'h3', 'left': true, 'bottom': true, 'text': entry.heading, 'color': entry.color} %}

					<p class="description">{{ entry.shortDescription }}</p>
				</div>
			</div>
		</div>
		<button class="scroll loading"></button>
	</section>

	<section class="content">
		<aside class="info" data-sticky="true">

			{% include "_includes/_bordered-button"
					with {'href': entry.projectUrl, 'target': '_blank', 'text': Copy.launchProject} %}

			<div>
				<h6>{{ Copy.client }}</h6>
				<a {% if entry.clientUrl %}href="{{ entry.clientUrl }}" target="_blank"{% endif %}>
					<p>{{ entry.client|default(Copy.personalProject) }}</p>
				</a>
			</div>

			<div>
				<h6>{{ Copy.year }}</h6>
				<p>{{ entry.year }}</p>
			</div>

			<div>
				<h6>{{ Copy.responsibilities }}</h6>
				<p>{{ entry.responsibilities }}</p>
			</div>

			<div>
				<h6>{{ Copy.tools }}</h6>
				<ul>
				{% for tool in entry.tools %}
			        <li><p>{{ tool.label }}</p></li>
			    {% endfor %}
				</ul>
			</div>

			<div class="share">
				<h6>{{ Copy.share }}</h6>
				<ul>
					<li class="underlined-button">
						<a class="icon-facebook icon content" data-id="facebook"></a>
						<div class="underline"></div>
					</li>
					<li class="underlined-button">
						<a class="icon-twitter icon content" data-id="twitter"></a>
						<div class="underline"></div>
					</li>
					<li class="underlined-button">
						<a class="icon-google icon content" data-id="google"></a>
						<div class="underline"></div>
					</li>
				</ul>
			</div>
		</aside>

		<div class="details">
			<section class="brief full">
				<article>
					{% include "_includes/_border-heading" with {'tag': 'h4', 'bottom': true, 'text': entry.briefHeading} %}
					<div>{{ entry.briefBody }}</div>
				</article>
			</section>

			<section class="analysis full">
				<article>
					{% include "_includes/_border-heading" with {'tag': 'h4', 'bottom': true, 'text': entry.analysisHeading} %}
					<div>{{ entry.analysisBody }}</div>
				</article>
				{% if entry.analysisFlow|length %}
					{% include "_includes/_workflow" with {'workflow': entry.analysisFlow} %}
				{% endif %}
			</section>

			{% for feature in entry.features %}
			    {% switch feature.type %}

				    {% case "mediaFeature" %}
				        {% include "_includes/_media-feature" with {
				        	'feature': feature
				        	} %}

				    {% case "annotationFeature" %}
				        {% include "_includes/_annotation-feature" with {
				        	'feature': feature
				        	} %}

				    {% case "comparisonFeature" %}
				        {% include "_includes/_comparison-feature" with {
				        	'feature': feature
				        	} %}

				    {% case "responsiveFeature" %}
				        {% include "_includes/_responsive-feature" with {
				        	'feature': feature
				        	} %}

				{% endswitch %}
			{% endfor %}

			<section class="learned full">
				<article>
					{% include "_includes/_border-heading" with {'tag': 'h4', 'bottom': true, 'text': entry.learnedHeading} %}
					<div>
						{{ entry.learnedBody }}
						<div class="signature"></div>
					</div>
				</article>
			</section>

			<nav class="siblings">
				{% set category = entry.portfolioCategory[0] %}
				{% set projects = [] %}

				{% for _entry in craft.entries.section('portfolio').order('year desc').find() %}
					{% if _entry.portfolioCategory.first() == category %}
						{% set projects = projects|merge([_entry]) %}
					{% endif %}
				{% endfor %}

				{% set projectIndex = 0 %}

				{% for _entry in projects %}
					{% if _entry.title == entry.title %}
						{% set projectIndex = loop.index0 %}
					{% endif %}
				{% endfor %}

				{% set prevProject = projects[projectIndex - 1]|default(projects[projects|length - 1]) %}
				<a class="prev" href="{{ prevProject.url }}"
					data-ajax="true" data-loader-id="{{ prevProject.id }}">
					<div class="inner">
						<div class="movable" data-lightbox-id="{{ prevProject.id }}">
							<div class="background-container" style="{{ utils.retinaBackground(prevProject.navigationImage[0], 265) }}">
								<div class="inner">
									<div class="icon icon-arrow-prev"></div>
								</div>
							</div>
							<div class="text-container">
								<div class="inner">
									<div class="icon icon-arrow-prev"></div>
									<p>{{ prevProject.title }}</p>
								</div>
							</div>
						</div>
					</div>
				</a>

				{% set nextProject = projects[projectIndex + 1]|default(projects[0]) %}
				<a class="next" href="{{ nextProject.url }}"
					data-ajax="true" data-loader-id="{{ nextProject.id }}">
					<div class="inner">
						<div class="movable" data-lightbox-id="{{ nextProject.id }}">
							<div class="background-container" style="{{ utils.retinaBackground(nextProject.navigationImage[0], 265) }}">
								<div class="inner">
									<div class="icon icon-arrow-next"></div>
								</div>
							</div>
							<div class="text-container">
								<div class="inner">
									<div class="icon icon-arrow-next"></div>
									<p>{{ nextProject.title }}</p>
								</div>
							</div>
						</div>
					</div>
				</a>
			</nav>
		</div>

	</section>

	{% include "_includes/_footer" %}

</div>
{% endblock %}