.annotation{
	.movable{
		/*
		@include flexbox((
			display: flex,
			justify-content: center,
			align-items: center
		));
		*/

		.annotation-container{
			max-width: 100%;
			//max-width: 70%;
		}
	}
}