.carousel{
	@include full;

	&.single{
		.pagination{
			display: none !important;
		}
	}

	>.image-container{
		position: relative;
		margin: 0 auto;
		max-width: 100%;

		>.scroller{
			position: relative;
			width: 100%;
			height: 0;
			overflow: hidden;

			ul{
				position: absolute;
				white-space: nowrap;
				font-size: 0;
				width: 100%;
				height: 100%;
			}

			li{
				@include inline-block(top);
				width: 100%;
				height: 100%;

				img{
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	>.pagination{
		position: relative;
		width: 0;
		height: 45px;
		margin-top: 3rem;
		margin-left: 50%;

		>.dots{
			position: relative;
			z-index: 0;
			height: 100%;
			font-size: 0;
			white-space: nowrap;
			@include transition(transform .5s $easeOutCubic);

			button{
				@extend %reset-button;
				display: inline-block;
				vertical-align: middle;
				margin: 0 14px;
				width: 12px;
				height: 12px;
				background: $color_lightergray;
				@include transition(width .5s $easeOutCubic, height .5s $easeOutCubic, background .5s);

				&:first-child{
					margin-left: 0;
				}
			}

			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 0;
				height: 100%;
			}

			@for $i from 1 through 20 {
				&.step-#{$i} {
					$ai: $i - 1;
					@include translateX( #{-$ai*(12px+14px*2)-(45px/2)} );

					button:nth-child(#{$i}) {
						width: 45px;
						height: 45px;
						background: $color_logo_blue;
					}
				}
			}
		}

		>.next-button{
			@extend %reset-button;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 50%;
			margin-left: #{-45px/2};
			width: 45px;
			height: 45px;
			font-size: 20px;
			color: #fff;
			border: 3px solid $color_logo_blue;
			@include box-sizing(border-box);
		}

		@include breakpoint($break_mobile) {
			font-size: .6rem;
		}
	}
}