>.masthead{
	height: 0;
	padding-bottom: percentage(960/2133);
	background-image: image-url('about-masthead.jpg');
	background-size: 100%;
}

>.content{
	padding-bottom: span(1);
	
	@include breakpoint($break_mobile) {
		@include container(6);
		padding: gutter();

		aside{
			@include full;
			@include transform( translateY(0) !important );

			.portrait{
				margin: span(1) auto;
				width: 30%;
				padding-bottom: 30%;
			}
		}

		.details{
			@include full;

			@include with-layout(6) {
				.heading{
					text-align: center;

					.border{
						margin: 2rem auto;
					}

					.greeting{
						font-size: 3em;
					}
				}

				.merit{
					margin-bottom: span(1);

					h4{
						margin-bottom: .6em;
					}
				}

				.social{
					font-size: .8em;
					text-align: center;

					.border{
						margin: 2rem auto;
					}

					ul{
						@include span(5);
						margin-left: span(1);
						text-align: left;
					}

					.or{
						@include full;
					}
				}
			}
		}
	}

	@include breakpoint($break_above_mobile) {
		@include container(12);
		margin-top: span(.5);

		aside{
			@include span(2 first);
			margin-left: span(1 wide);

			.portrait{
				margin-top: 1rem;
				width: 75%;
				padding-bottom: 75%;
			}
		}

		.details{
			@include span(8);

			@include with-layout(8) {
				.status{
					@include span(6);
				}

				.merit{
					@include span(4);

					&.has-figure{
						@include full;

						.heading-container{
							padding-right: span(4);
						}

						.content-container{
							p{
								@include span(4 first);
							}

							.figure{
								@include span(4 last);
							}
						}
					}

					&:nth-child(even) {
						@include last;
					}

					h4{
						width: 80%;
						min-height: 12rem;
					}
				}

				.social{
					li{
						@include span(4);

						&:nth-child(even) {
							@include last;
						}
					}
				}
			}
		}
	}
}

.portrait{
	@include retina-background('portrait.png');
}

.heading{
	@include clearfix;

	.greeting{
		font-size: 4em;

		p{
			font-size: inherit;
			font-family: $font_flama;

			&:last-child{
				font-size: 2em;
				font-family: $font_whitney_medium;
				line-height: 0.9;
			}
		}
	}

	.status{
		margin-bottom: 2rem;

		p{
			font-size: 2.4em;
			font-family: $font_whitney_lightitalic;
			line-height: 1.4;
		}
	}
}

.social{
	h3{
		font-size: 4em;
	}

	.or{
		display: block;
		margin: .5em 0 1em 0;
		font-size: 2.6em;
		font-family: $font_flama;
		text-transform: uppercase;
		color: $color_logo_blue;
	}

	ul{
		@include clearfix;

		>li{
			>a{
				@include inline-block(top);
				margin: 1em 0 1.5em 0;

				&:hover{
					.icon{
						background: transparent;
						color: #000;
					}
				}

				.icon{
					@include inline-block(middle);
					width: 5rem;
					height: 5rem;
					line-height: 5rem;
					text-align: center;
					font-size: 2rem;
					color: #fff;
					background: #000;
					border: 2px solid #000;
					@include box-sizing(border-box);
					@include transition(color .2s $easeOutCubic, background .2s $easeOutCubic);
				}

				p{
					@include inline-block(middle);
					font-size: 2em;
					text-indent: .6em;
				}
			}
		}
	}
}

.border{
	margin: 2rem 0;
	width: 30px;
	height: 10px;
	@extend %color-background;
}

hr{
	margin: 6rem 0;
}

.merit{
	margin-bottom: span(1);

	h4{
		font-size: 3rem;
	}

	p{
		font-size: 1.4rem;
		line-height: 1.7;
	}
}

.app-icon{
	margin: .25rem;
}