.intro{
	position: relative;
	background-image: image-url('about-masthead.jpg');
	background-position: center center;

	.container{
		position: relative;
		height: 100%;
	}
	
	.scroll{
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -2.5rem;
	}

	@include breakpoint($break_above_mobile) {
		background-size: auto 100%;
	}

	@include breakpoint($break_tablet) {
		height: calc(100vh - #{7em*.85} - #{$border-padding});
	}

	@include breakpoint($break_tablet_portrait) {
		background-size: 100% auto;
		background-repeat: no-repeat;
	}

	@include breakpoint($break_desktop) {
		height: calc(100vh - 7em - #{$border-padding});
	}

	@include breakpoint($break_mobile) {
		height: 0;
		padding-bottom: percentage(960/2133);
		background-size: 100% 100%;

		.scroll{
			display: none;
		}
	}
}

>.content{
	padding: span(1) 0;
	
	@include breakpoint($break_above_mobile) {
		@include container(12);
		margin-top: span(.5);

		aside{
			@include span(2 first);
			margin-left: span(1 wide);

			.portrait{
				margin-top: 1rem;
				width: 80%;
				padding-bottom: 80%;
			}
		}

		.details{
			@include span(8);

			@include with-layout(8) {
				.status{
					@include span(6);
				}

				.merit{
					@include span(4);

					&.has-figure{
						@include full;

						.heading-container{
							padding-right: span(4);
						}

						.content-container{
							p{
								@include span(4 first);
							}

							.figure{
								@include span(4 last);
							}
						}
					}

					&.even {
						@include last;
					}

					h4{
						min-height: 12rem;
					}

					p{
						padding-right: gutter();
					}
				}

				.social{
					li{
						@include span(4);

						&:nth-child(even) {
							@include last;
						}
					}
				}
			}
		}
	}

	@include breakpoint($break_tablet_portrait) {
		@include container(12);
		margin-top: span(.5);

		aside{
			@include full;
			@include transform( translateY(0) !important );

			.portrait{
				margin: span(1) auto;
				width: 20%;
				padding-bottom: 20%;
			}
		}

		.details{
			@include span(10);
			@include push(1);

			@include with-layout(10) {

				.heading{
					text-align: center;

					.border{
						margin: 2rem auto;
					}
				}

				.status{
					@include full;
				}

				.merit{
					@include span(5);

					&.has-figure{
						@include full;

						.heading-container{
							padding-right: span(5);
						}

						.content-container{
							p{
								@include span(5 first);
							}

							.figure{
								@include span(5 last);
							}
						}
					}

					&.even {
						@include last;
					}

					h4{
						width: 80%;
						min-height: 12rem;
					}
				}

				.social{
					li{
						@include span(5);

						&:nth-child(even) {
							@include last;
						}
					}
				}
			}
		}
	}

	@include breakpoint($break_mobile) {
		@include container(6);
		padding: 0 gutter() span(2) gutter();

		aside{
			@include full;
			@include transform( translateY(0) !important );

			.portrait{
				margin: span(1) auto;
				width: 30%;
				padding-bottom: 30%;
			}
		}

		.details{
			@include full;

			@include with-layout(6) {
				.heading{
					text-align: center;

					.border{
						margin: 2rem auto;
					}

					.greeting{
						font-size: 3em;
					}
				}

				.merit{
					padding: 0 gutter();
					margin-bottom: span(1);

					h4{
						margin-bottom: .6em;
					}
				}

				.social{
					font-size: .8em;
					text-align: left;
					padding: 0 gutter();

					ul{
						text-align: left;
					}
				}
			}
		}
	}
}

.portrait{
	@include retina-background('portrait.png');
	@include border-radius(100%);
}

.heading{
	@include clearfix;

	.greeting{
		font-size: 4em;

		p{
			font-size: inherit;
			font-family: $font_flama;

			&:last-child{
				font-size: 2em;
				font-family: $font_whitney_medium;
				line-height: 0.9;
			}
		}
	}

	.status{
		margin-bottom: 2rem;

		p{
			font-size: 2.4em;
			font-family: $font_whitney_lightitalic;
			line-height: 1.4;
		}
	}
}

.social{
	h3{
		font-size: 4em;
	}

	.or{
		display: block;
		margin: .5em 0 1em 0;
		font-size: 2.6em;
		font-family: $font_flama;
		text-transform: uppercase;
		color: $color_logo_blue;
	}

	ul{
		@include clearfix;

		>li{
			>a{
				@include inline-block(top);
				margin: 1em 0 1.5em 0;

				&:hover{
					.icon{
						background: transparent;
						color: $color_logo_blue;
					}
				}

				.icon{
					@include inline-block(middle);
					width: 5rem;
					height: 5rem;
					line-height: 5rem;
					text-align: center;
					font-size: 2rem;
					color: #fff;
					background: $color_logo_blue;
					border: 2px solid $color_logo_blue;
					@include box-sizing(border-box);
					@include transition(color .25s $easeOutCubic, background .25s $easeOutCubic);
				}

				p{
					@include inline-block(middle);
					font-size: 2em;
					text-indent: .6em;
				}
			}
		}
	}
}

.border{
	margin: 2rem 0;
	width: 30px;
	height: 10px;
	@extend %color-background;
}

hr{
	margin: 6rem 0;
}

.merit{
	margin-bottom: span(1);

	h4{
		@extend %multi-line-heading;
	}
}

.app-icon{
	margin: .25rem;
}