.main-footer{
	width: 100%;
	padding: $border-padding #{$border-padding*2};
	background: $color_lightergray;
	@include clearfix;

	.copyright{
		float: left;
		font-family: $font_whitney_bookitalic;
		font-size: 1.6em;
		letter-spacing: 0;
		color: $color_lightgray;
		@include flexbox((
			display: flex,
			align-items: center
		));

		&:before{
			content: "";
			margin-right: .4em;
			@include retina-icon('gux-s');
		}
	}

	.info{
		float: right;
		color: $color_lightgray;

		.social{
			font-size: 1.8em;
			line-height: 1.6;
			@include flexbox((
				display: flex,
				align-items: center
			));

			li{
				margin: 0 .5em;

				&:first-child{
					margin-left: 0;
				}

				&:last-child{
					margin-right: 0;
				}
			}

			a{
				@include transition(color .25s);

				&:hover{
					color: $color_logo_blue;
				}
			}
		}
	}

	@include breakpoint($break_mobile) {
		padding: gutter() * 3 gutter() * 2;
		font-size: .8rem;

		.copyright{
			float: none;
			display: block;
			line-height: 3;

			&:before{
				display: block;
			}
		}

		.info{
			float: left;

			.social{
				display: block;

				>li{
					@include inline-block(middle);
				}
			}
		}
	}
}