#main-header{
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 7em;
	padding: 1.5em 2em;
	background: rgba(white, .95);
	@include box-shadow(0px 1px 2px 0px rgba(black,0.08));
	@include flexbox((
		display: flex,
		justify-content: space-between
	));
	@include user-select(none);
	@include translateY(0);

	.branding{
		width: 50%;
		height: 100%;
		white-space: nowrap;

		.logo{
			height: 100%;

			.icon{
				font-size: 4em;
			}
		}

		.vertical-bar{
			@include inline-block(bottom);
			height: 100%;
			margin: 0 1.2em;
			border-right: 2px solid $color_lightgray;
			opacity: .5;
			//width: 1em;
		}

		h1{
			display: inline-block;
			vertical-align: bottom;
			font-size: 12px;
			letter-spacing: 1px;
			line-height: 1;

			>span{
				display: block;
				
				&:first-child{
					color: $color_gray;
				}

				&:last-child{
					margin-top: 4px;
					color: $color_lightgray;
				}
			}
		}

		@include breakpoint($break_below_tablet_portrait) {
			.vertical-bar, h1{
				display: none;
			}
		}
	}

	.hamburger-button{
		@extend %reset-button;
		white-space: nowrap;
		opacity: .5;
		visibility: visible;
		@include transition(opacity .5s, visibility .5s);

		>.hamburger{
			position: relative;
			@include inline-block(bottom);
			width: 2em;
		}

		>p{
			@include inline-block(bottom);
			@extend %italic-heading;
			color: $color_black;
			max-width: 15vw;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		.line{
			height: 1px;
			background: black;
			margin-bottom: .4em;
			opacity: 1;
			@include transition(width .25s, opacity .35s ease-out, transform .35s ease-out);

			&:nth-child(1) {
				width: 100%;
			}

			&:nth-child(2) {
				width: 80%;
			}

			&:nth-child(3) {
				width: 90%;
				margin-bottom: 0;
			}
		}

		.arrow{
			@include absoluteTopLeft;
			width: 100%;
			text-align: center;
			color: $color_black;
			opacity: 0;
			@include translateY(0);
			@include transition(opacity .35s ease-out, transform .35s ease-out);
		}

		&:hover{
			opacity: 1;

			.line{
				width: 100%;
			}
		}

		&.active{
			opacity: 1;
			
			.line{
				&:nth-child(2) {
					opacity: 0;
					@include translateY(-.25em);
				}

				&:nth-child(3) {
					opacity: 0;
					@include translateY(-.5em);
				}
			}

			.arrow{
				opacity: 1;
				@include translateY(.5em);
			}
		}

		&.hide{
			opacity: 0;
			visibility: hidden;
		}
	}

	#mobile-hamburger-button{
		display: none;
		font-size: 2em;

		@include breakpoint($break_below_tablet_portrait) {
			display: block;
		}
	}

	.menu{
		width: 50%;
		height: 100%;
		text-align: center;

		.hamburger{
			margin-right: .6rem;
			margin-bottom: .2rem;
		}

		&:after{
			content: "";
			@include inline-block(bottom);
			width: 0;
			height: 100%;
		}

		@include breakpoint($break_below_tablet_portrait) {
			display: none !important;
		}
	}

	.navigation{
		ul{
			li{
				position: relative;

				a{
					letter-spacing: 0.1em;
					text-transform: uppercase;
					color: $color_black;
					
					&:before{
						@extend .icon;
						vertical-align: baseline;
						margin-right: .4em;
					}
				}

				&:nth-child(1) {
					a{
						&:before{
							color: $color_logo_red;
						}

						@extend .icon-shape-g;
					}
				}

				&:nth-child(2) {
					a{
						&:before{
							color: $color_logo_blue;
						}

						@extend .icon-shape-u;
					}
				}

				&:nth-child(3) {
					a{
						&:before{
							color: $color_logo_yellow;
						}

						@extend .icon-shape-x;
					}
				}
			}
		}

		@include breakpoint($break_above_tablet_portrait) {
			position: relative;
			width: 50%;
			height: 100%;

			ul{
				position: absolute;
				right: 0;
				bottom: 0;
				white-space: nowrap;

				li{
					@include inline-block(bottom);
					margin-left: 1.5em;

					a{
						display: block;
						position: relative;
						font-family: $font_whitney_light;
						font-size: 1.7em;
						overflow: hidden;

						>span{
							display: block;
							@include translateY(0);
							@include transition(transform .8s $easeOutQuint, opacity .8s $easeOutQuint);
						}

						&:before{
							content: none !important;
						}

						&:after{
							content: attr(data-text);
							position: absolute;
							top: 0;
							left: 0;
							color: $color_logo_blue;
							opacity: 0;
							@include translateY(100%);
							@include transition(transform .8s $easeOutQuint, opacity .8s $easeOutQuint);
						}

						&.active{	
							>span{
								opacity: 0;
								@include translateY(-100%);
							}

							&:after{
								opacity: 1;
								@include translateY(0);
							}
						}
					}
				}
			}
		}

		@include breakpoint($break_below_tablet_portrait) {
			position: fixed;
			top: 100%;
			left: 0;
			width: 100%;
			height: 100vh;
			overflow: hidden;
			background: transparent;
			visibility: hidden;
			@include transition(background .4s, visibility .4s);

			&.open{
				background: $color_logo_blue;
				visibility: visible;

				ul{
					visibility: visible;
					height: #{8rem * 3};
				}
			}

			ul{
				@include absoluteTopLeft;
				width: 100%;
				background: $color_lightergray;
				overflow: hidden;
				visibility: hidden;
				height: 0;
				@include transition(height .4s $easeInOutCubic, visibility .4s);

				li{
					width: 100%;
					height: 8rem;

					a{
						display: block;
						text-align: center;
						line-height: 8rem;
						font-family: $font_flama;
						font-size: 2em;
						background: transparent;
						@include transition(background .25s);

						&:active{
							background: $color_lightgray;
						}
					}

					&:after{
						content: "";
						position: absolute;
						bottom: 0;
						left: 10%;
						width: 80%;
						height: 1px;
						@include retina-background('dotted-line.png', 497px, 1px);
					}

					&:last-child{
						&:after{
							content: none;
						}
					}
				}
			}
		}
	}

	&.transition{
		@include transition(transform .4s $easeOutCubic);
	}

	&.hide{
		@include translateY(-100%);
	}

	/* -- break-points -- */
	@include breakpoint($break_mobile) {
		position: fixed;
		font-size: .7rem;
	}

	@include breakpoint($break_tablet) {
		position: fixed;
		font-size: .85rem;
	}

	@include breakpoint($break_desktop) {
		font-size: 1rem;
	}
}