>ul{
	@include container(12);
	padding-top: span(1);
	padding-bottom: span(1);
}

hr{
	@include full;

	&:last-child{
		display: none;
	}
}

.text-container{
	width: 100%;

	p{
		margin: 2rem 0;
	}
}

.preview{
	width: 100%;

	.inner{
		position: relative;
		width: 100%;
		height: 0;

		.image-loader{
			@include absoluteTopLeft;
			width: 100%;
			height: 100%;
			background-position: center center;
			background-size: 100px auto;
			background-repeat: no-repeat;

			&:not(.loaded){
				display: none;
			}

			&.loading{
				display: block;
				
				>.image{
					opacity: 0;
				}
			}

			&.loaded{
				display: block;
				background-image: none !important;
				
				>.image{
					opacity: 1;
				}
			}

			.image{
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center center;
				@include transition(opacity .8s $easeOutCubic);
			}
		}
	}
}

@include breakpoint($break_above_mobile) {
	>ul{
		@include container(12);

		li{
			display: table;
			padding: gutter();

			&.i1{
				@include span(7);
				//background: blue;

				.text-container{
					display: table-footer-group;

					>.inner{
						@include span(5 of 7);
					}
				}

				.preview{
					display: table-header-group;

					.inner{
						padding-top: 97%;
						
						.image-loader{
							background-image: image-url('g-spinner.gif');
						}
					}
				}
			}

			&.i2{
				@include span(5 last);
				//background: green;

				.text-container{
					display: table-header-group;
				}

				.preview{
					display: table-footer-group;

					.inner{
						padding-top: 132%;

						.image-loader{
							background-image: image-url('u-spinner.gif');
						}
					}
				}
			}

			&.i3{
				@include span(full);
				//background: red;

				.text-container{
					@include span(6 last);

					>.inner{
						@include span(5 of 6 last);
					}
				}

				.preview{
					@include span(6 first);

					.inner{
						padding-top: 72%;

						.image-loader{
							background-image: image-url('x-spinner.gif');
						}
					}
				}
			}

			&.i4{
				@include span(5);
				//background: green;

				.text-container{
					display: table-header-group;
				}

				.preview{
					display: table-footer-group;

					.inner{
						padding-top: 132%;

						.image-loader{
							background-image: image-url('g-spinner.gif');
						}
					}
				}
			}

			&.i5{
				@include span(7 last);
				//background: blue;

				.text-container{
					display: table-footer-group;

					>.inner{
						@include span(5 of 7);
					}
				}

				.preview{
					display: table-header-group;

					.inner{
						padding-top: 97%;

						.image-loader{
							background-image: image-url('u-spinner.gif');
						}
					}
				}
			}

			&.i6{
				@include span(full);
				//background: red;

				.text-container{
					@include span(6);

					>.inner{
						@include span(5 of 6);
					}
				}

				.preview{
					@include span(6 last);

					.inner{
						padding-top: 72%;

						.image-loader{
							background-image: image-url('x-spinner.gif');
						}
					}
				}
			}

			.text-container{
				.inner{
					margin: 2.5rem 0;
				}
			}
		}
	}

	hr{
		margin: span(1) 0;

		&.i1, &.i4 {
			display: none;
		}
	}
}

@include breakpoint($break_mobile) {
	>ul{
		@include container(6);

		li{
			@include full;
			padding: gutter();

			.preview{
				.inner{
					padding-top: 65%;
				}
			}

			.text-container{
				.inner{
					margin: 1rem 0 2rem 0;
					padding: 0 gutter();
				}
			}
		}
	}

	hr{
		margin: span(1) 0;
	}
}