#main-intro{
	@include absoluteTopLeft;
	z-index: 1;
	width: 100%;
	height: 100vh;
	text-align: center;
	overflow: hidden;

	>.container{
		position: relative;
		height: 100%;
		//height: calc(100% - 5rem - #{$border-padding});
		background-color: $color_lightergray;

		>.canvas-container{
			position: absolute;
			width: 100%;
			height: 100%;
		}

		>.text-container{
			position: relative;
			height: 100%;

			>.logo{
				margin-top: 16vh;
				text-transform: uppercase;
				text-align: left;
				@include font-smoothing;

				>span{
					display: block;
					line-height: 1.15;

					&:first-child{
						font-family: $font_flama;
						font-size: 2.75em;
						letter-spacing: .21em;
					}
					&:last-child{
						font-family: $font_whitney_book;
						font-size: 1.57em;
						letter-spacing: .18em;
					}
				}
			}

			>.quotation{
				position: absolute;
				top: 50%;
				width: 100%;
				padding: 0 1rem;
				@include translateY(-50%);

				>p{
					font-family: $font_whitney_lightitalic;
					font-size: 3.2em;
					line-height: 1.65;
				}

				>.border{
					margin: 2em auto 2.6em auto;
					width: 20px;
					height: 10px;
					background-color: $color_logo_blue;
				}

				>.logo{
					@include retina-icon("gux-s");
				}

				&:not(.animate-in) {
					visibility: hidden;
				}

				&.animate-in{
					visibility: visible;

					>*{
						&:nth-child(1) {
							@include animation( fade-in-from-bottom 1.5s $easeOutCubic both );
							@include animation-delay(1.0s);
						}
						&:nth-child(2) {
							@include animation( fade-in-from-bottom 1.5s $easeOutCubic both );
							@include animation-delay(1.1s);
						}
						&:nth-child(3) {
							@include animation( fade-in-from-bottom 1.5s $easeOutCubic both );
							@include animation-delay(1.2s);
						}
						&:nth-child(4) {
							@include animation( fade-in-from-bottom 1.5s $easeOutCubic both );
							@include animation-delay(1.3s);
						}
						&:nth-child(5) {
							@include animation( fade-in-from-bottom 1.5s $easeOutCubic both );
							@include animation-delay(1.4s);
						}
					}
				}

				@include breakpoint($break_mobile) {
					font-size: .65em;
				}

				@include breakpoint($break_tablet) {
					font-size: .95em;
				}
			}
		}
	}

	>.bottom-bar{
		position: absolute;
		width: 100%;
		padding: $border-padding 0;
		bottom: 0;
		background-color: white;
		@include transition(transform .25s ease-out);

		.scroll{
			@extend %reset-button;
			margin: 0 auto;
			width: 12rem;
			height: 6rem;
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center center;

			&.loading{
				background-image: image-url('gux-spinner.gif');
			}
		}

		&.hide{
			@include translateY(100%);
		}

		&.show{
			@include translateY(0);
		}
	}

	&.animate-in-ui{
		.text-container{
			visibility: visible;
		}

		.logo{
			>span{
				&:first-child{
					@include animation( fade-in-from-bottom 2.0s $easeOutCubic both 0s );
				}
				&:last-child{
					@include animation( fade-in-from-bottom 1.8s $easeOutCubic both .2s );
				}
			}
		}
	}

	&.animate-in-loader{
		.scroll{
			visibility: visible;
			@include animation( animate-in-loader 1s linear both );
		}
	}

	&:not(.animate-in-ui) {
		.text-container{
			visibility: hidden;
		}
	}

	&:not(.animate-in-loader) {
		.scroll{
			visibility: hidden;
		}
	}
}