#main-intro{
	width: 100%;
	height: calc(100vh - #{$border-padding*2});
	text-align: center;
	overflow: hidden;

	>.container{
		position: relative;
		height: 100%;
		//height: calc(100% - 5rem - #{$border-padding});
		background-color: $color_lightergray;

		>.canvas-container{
			position: absolute;
			width: 100%;
			height: 100%;
		}

		>.text-container{
			position: relative;
			height: 100%;

			>.logo{
				margin-top: 16vh;
				text-transform: uppercase;
				text-align: left;
				@include font-smoothing;

				>span{
					display: block;
					line-height: 1.15;

					&:first-child{
						font-family: $font_flama;
						font-size: 2.75em;
						letter-spacing: .21em;
					}
					&:last-child{
						font-family: $font_whitney_book;
						font-size: 1.57em;
						letter-spacing: .18em;
					}
				}
			}

			>.quotation{
				display: none;
			}
		}
	}

	>.scroll{
		position: relative;
		//margin-top: $border-padding;
		margin-top: -5rem;
		width: 5rem;
		height: 5rem;
		background: #000 center center no-repeat;

		&.loading{
			background-image: image-url('loader-simple-black.gif');
		}
	}

	&.animate-in-ui{
		.text-container{
			visibility: visible;
		}

		.logo{
			>span{
				&:first-child{
					@include animation( fade-in-from-bottom 2.0s $easeOutCubic both 0s );
				}
				&:last-child{
					@include animation( fade-in-from-bottom 1.8s $easeOutCubic both .2s );
				}
			}
		}
	}

	&.animate-in-loader{
		.scroll{
			visibility: visible;
			@include animation( animate-in-loader 1s linear both );
		}
	}

	&:not(.animate-in-ui) {
		.text-container{
			visibility: hidden;
		}
	}

	&:not(.animate-in-loader) {
		.scroll{
			visibility: hidden;
		}
	}
}