.intro{
	position: relative;
	background-image: image-url('labs-masthead.jpg');
	background-position: center center;

	.container{
		position: relative;
		height: 100%;
	}

	.scroll{
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -2.5rem;
	}

	@include breakpoint($break_above_mobile) {
		background-size: auto 100%;
	}

	@include breakpoint($break_tablet) {
		height: calc(100vh - #{7em*.85} - #{$border-padding});
	}

	@include breakpoint($break_tablet_portrait) {
		background-size: 100% auto;
		background-repeat: no-repeat;
	}

	@include breakpoint($break_desktop) {
		height: calc(100vh - 7em - #{$border-padding});
	}

	@include breakpoint($break_mobile) {
		height: 0;
		padding-bottom: percentage(960/2100);
		background-size: 100% 100%;

		.scroll{
			display: none;
		}
	}
}

.projects{
	padding: span(1) 0;

	li{
		position: relative;

		>.inner{
			@include absoluteTopLeft;
			z-index: 1;
			width: 100%;
			height: 100%;
			@include flexbox((
				display: flex,
				align-items: center
			));
		}

		.text-container{
			position: relative;
			z-index: 1;
			width: 100%;
			opacity: 1;
			@include transition(opacity .15s $easeOutQuint);

			.inner{
				margin: 2.5rem 0;
			}

			p{
				margin: 2rem 0;
			}
		}

		.preview{
			@include absoluteTopLeft;
			z-index: 0;
			width: 100%;
			height: 100%;

			>.shapes{
				position: absolute;
				top: 25%;
				left: -25%;
				width: 150%;
				height: 50%;

				>.icon{
					position: absolute;
					@include backfaceHidden();

					&.g{
						@extend .icon-shape-g-stroke;
					}

					&.u{
						@extend .icon-shape-u-stroke;
					}

					&.x{
						@extend .icon-shape-x-stroke;
					}

					&:nth-child(3n+1) {
						font-size: 2vmin;
						margin: -1.5vmin;
						opacity: .2;
					}

					&:nth-child(3n+2) {
						font-size: 3vmin;
						margin: -2vmin;
						opacity: .3;
					}

					&:nth-child(3n+3) {
						font-size: 6vmin;
						margin: -3vmin;
						opacity: .4;
					}

					&:nth-child(1), &:nth-child(5) {
						@include animation( floating-1 4s $easeInOutSine infinite alternate );
					}

					&:nth-child(2), &:nth-child(6) {
						@include animation( floating-2 3s $easeInOutSine infinite alternate );
					}

					&:nth-child(3) {
						@include animation( floating-3 4s $easeInOutSine infinite alternate );
					}

					&:nth-child(4) {
						@include animation( floating-1 3s $easeInOutSine infinite alternate );
					}
				}
			}

			>.image{
				@include absoluteTopLeft;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center center;
				opacity: 0;
				@include translate(0, 0);
				@include transition(opacity .35s, transform, .15s, $easeOutQuint);
			}
		}
	}
}


@include breakpoint($break_desktop) {

	.heading{
		@include container(12);
		padding-top: span(1);

		>h3{
			@include span(5);
		}

		>div{
			@include span(6);
			clear: both;
		}
	}

	.projects{
		@include container(12);

		li{
			@include span(4);
			margin-bottom: gutter();
			height: 0;
			padding-bottom: span(4);

			>.inner{
				padding-right: 4em;
			}

			&:nth-child(3n){
				@include last();
			}

			&:hover{
				.text-container{
					opacity: 0;
				}

				.preview{
					>.image{
						opacity: 1;
						@include translate(-12px, -12px);
					}
				}
			}
		}
	}
}


@include breakpoint($break_tablet) {

	.heading{
		@include container(12);
		padding-top: span(1);

		>h3{
			@include span(5);
			@include push(1);
		}

		>div{
			@include span(6);
			@include push(1);
			clear: both;
		}
	}

	.projects{
		@include container(12);

		li{
			@include span(5);
			margin-bottom: gutter();
			height: 0;
			padding-bottom: span(5);

			>.inner{
				padding-right: 4em;
			}

			&:nth-child(2n-1){
				@include first;
				@include push(1);
			}

			&:hover{
				.text-container{
					opacity: 0;
				}

				.preview{
					>.image{
						opacity: 1;
						@include translate(-12px, -12px);
					}
				}
			}
		}
	}
}


@include breakpoint($break_mobile) {
	@include container(8);

	.heading{
		@include container(8);
		
		@include with-layout(8) {
			padding: span(1) 0;

			>h3{
				@include span(6);
				@include push(1);
			}

			>div{
				@include span(6);
				@include push(1);
			}
		}
	}

	.projects{
		@include container(8);

		@include with-layout(8) {
			li{
				margin: span(1) 0;

				>.inner{
					position: relative;
					display: block;
					padding: 0;
				}

				.text-container{
					display: block;
					width: 100%;
					padding: 4em 0 30em 0;
					@include clearfix;

					>.inner{
						@include span(6);
						@include push(1);
					}
				}

				.preview{
					width: calc(100% - #{gutter()*2});
					height: 26em;
					left: gutter();
					bottom: 0;
					top: auto;

					>.image{
						opacity: 1;
					}
				}
			}
		}
	}
}