>.intro{
	height: calc(100vh - 7em - #{$border-padding});
	text-align: center;

	>.container{
		position: relative;
		height: calc(100% - 5rem - #{$border-padding});

		>.media-container{
			position: absolute;
			width: 100%;
			height: 100%;
			background: black;

			>.image{
				@include absoluteTopLeft;
				width: 100%;
				height: 100%;
				opacity: .5;
				background-size: cover;
				background-position: center center;
			}
		}

		>.text-container{
			position: relative;
			height: 100%;
			color: white;
		}
	}

	>.scroll{
		margin-top: $border-padding;
		width: 5rem;
		height: 5rem;
		background: #000 center center no-repeat;

		&.loading{
			background-image: image-url('loader-simple-black.gif');
		}
	}
}

>.content{
	@include container();
}

.details{
	@include span(10 of 12);

	@include nested(10) {
		>section{
			padding: span(1) 0;
			@include clearfix;

			&.full{
				>article{
					@include span(6);
					margin-left: span(1 wide);
				}
			}

			&.fluid{
				>article{
					@include span(4);
				}
				>figure{
					@include span(6 last);
				}
			}
		}
	}
}

.info{
	@include span(2 of 12 last);
}

.brief, .learned{
	background: $color_lightergray;
}

.learned{
	.signature{
		@include retina-icon('gux-m');
		margin-top: span(1 of 10);
	}
}

.workflow{
	@include full;

	>.image-container{
		position: relative;
		height: 0;
		padding-bottom: 52%;
		overflow: hidden;

		>ul{
			position: absolute;
			white-space: nowrap;
			font-size: 0;
			width: 100%;
			height: 100%;

			>li{
				@include inline-block(top);
				width: 100%;
				height: 100%;

				img{
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

.feature{
	>figure{
		>.media{
			position: relative;
			height: 0;
			padding-bottom: 73%;

			>.movable{
				position: absolute;
				width: 100%;
				height: 100%;
				background-position: center center;
				background-size: cover;
			}
		}
	}
}

.siblings{
	>a{
		display: block;
		margin: 6em auto;
		@include span(3 of 10);

		&.next{
			@include last;
		}

		>.inner{
			position: relative;
			height: 0;
			padding-bottom: 40%;
			text-align: center;
			background: $color_lightergray;

			>.movable{
				position: absolute;
				width: 100%;
				height: 100%;

				>.text-container{
					position: absolute;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}