@import "modules/_comparison";
@import "modules/_responsive";
@import "modules/_workflow";

>.intro{
	text-align: center;

	>.container{
		position: relative;
		height: calc(100% - 5rem - #{$border-padding*2});
		overflow: hidden;

		>.media-container{
			>.image{
				@include absoluteTopLeft;
				width: 100%;
				height: 100%;
				opacity: .4;
				background-size: cover;
				background-position: center center;
			}
		}

		>.text-container{
			position: relative;
			text-align: left;
			@include container(12);
		}
	}

	>.scroll{
		@extend %reset-button;
		margin-top: $border-padding;
		width: 5rem;
		height: 5rem;
		background-position: center center;
		background-size: auto 100%;
		background-repeat: no-repeat;

		&.loading{
			background-image: image-url('u-spinner.gif');
		}
	}

	@include breakpoint($break_above_mobile) {
		height: calc(100vh - 7em);

		>.container{
			background: black;

			>.media-container{
				position: absolute;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}

			>.text-container{
				height: 100%;
				@include flexbox((
					display: flex,
					align-items: center
				));

				>.masthead{
					padding: 0 span(3 wide);
				}
			}
		}
	}

	@include breakpoint($break_tablet) {

		>.container{
			>.text-container{
				h3{
					font-size: 8rem;
				}

				>.masthead{
					padding: 0 span(2 wide);
				}
			}
		}
	}

	@include breakpoint($break_mobile) {
		height: calc(100vh - 5rem);

		>.container{
			@include flexbox((
				display: flex,
				align-items: center
			));

			>.media-container{
				position: absolute;
				background: black;
				width: 100%;
				height: 100%;
			}

			>.text-container{
				font-size: .6em;

				h3{
					font-size: 12vmin;
				}

				p{
					font-size: 1.8rem;
				}

				.border.left{
					display: none;
				}

				>.masthead{
					padding: span(1) span(1 wide);
				}
			}
		}
	}
}

>.content{
	@include container();
	color: black;
}

.details{
	>section{
		&:nth-child(2), &:nth-last-child(2) {
			margin-top: span(1 of 12) !important;
		}

		&:first-child, &:nth-last-child(3) {
			margin-bottom: span(1 of 12) !important;
		}
	}

	@include breakpoint($break_mobile) {
		@include full;

		@include nested(12) {
			>section{
				margin: span(2) 0;
				@include clearfix;

				&.full, &.fluid{
					>article{
						@include span(10);
						margin-left: span(1 wide);
						@include transform( translateY(0) !important );
					}
					>figure{
						@include full;
						margin-top: span(1);
						padding: 0 gutter();
					}

					&.media{
						>figure{
							&.media-col-2{
								.mobile{
									@include push(2);
									@include span(4);

									&:nth-child(2n) {
										@include push(0);
										@include span(4);
									}
								}
							}
							&.media-col-3{
								.mobile{
									@include span(4);

									&:nth-child(3n) {
										@include last;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	@include breakpoint($break_tablet) {
		@include full;

		@include nested(12) {
			>section{
				margin: span(2) 0;
				@include clearfix;

				&.full{
					>article{
						@include span(8);
						margin-left: span(1 wide);
					}
					>figure{
						@include full;
						margin-top: span(1);
					}

					&.media{
						>figure{
							&.media-col-2{
								.mobile{
									@include push(2);
									@include span(4);

									&:nth-child(2n) {
										@include push(0);
										@include span(4);
									}
								}
							}
							&.media-col-3{
								.mobile{
									@include span(4);

									&:nth-child(3n) {
										@include last;
									}
								}
							}
						}
					}
				}

				&.fluid{
					>article{
						@include span(isolate 4 at 2 first);
					}
					>figure{
						@include span(isolate 6 at 6 last);
					}

					&:nth-child(odd) {
						>article{
							@include span(isolate 4 at 8 last);
						}
						>figure{
							@include span(isolate 6 at 2 first);
						}
					}
				}
			}
		}
	}

	@include breakpoint($break_desktop) {
		@include span(10 of 12);

		@include nested(10) {
			>section{
				margin: span(2) 0;
				@include clearfix;

				&.full{
					>article{
						@include span(6);
						margin-left: span(1 wide);
					}
					>figure{
						@include full;
						margin-top: span(1);
					}

					&.media{
						@include nested(12) {
							>figure{
								&.media-col-2{
									.mobile{
										@include push(2);
										@include span(4);

										&:nth-child(2n) {
											@include push(0);
											@include span(4);
										}
									}
								}
								&.media-col-3{
									.mobile{
										@include span(4);

										&:nth-child(3n) {
											@include last;
										}
									}
								}
							}
						}
					}
				}

				&.fluid{
					>article{
						@include span(isolate 4 first);
					}
					>figure{
						@include span(isolate 6 last);
					}

					&:nth-child(odd) {
						>article{
							@include span(isolate 4 last);
						}
						>figure{
							@include span(isolate 6 first);
						}
					}
				}
			}
		}
	}
}

aside{
	>div{
		margin-top: 2.25em;

		h6{
			font-size: 1.2em;
			line-height: 2.2;
		}

		p{
			font-size: 1.4em;
			font-family: $font_whitney_bookitalic;
			text-transform: capitalize;
			color: $color_gray;
			letter-spacing: 0;
			line-height: 1.5;
			@include font-smoothing;
		}

		&.launch{
			margin-top: 0;
		}

		&.share{
			li{
				@include inline-block(middle);
				font-size: 2.4em;
				margin-right: .4em;
			}
		}
	}

	@include breakpoint($break_mobile) {
		@include full;
		@include transform( translateY(0) !important );
		padding: span(1 wide);
	}

	@include breakpoint($break_tablet) {
		@include full;
		@include transform( translateY(0) !important );
		padding: span(1 wide);

		>div{
			@include span(5);

			&.launch{
				@include full;
			}

			&:nth-child(even) {
				@include first;
			}

			&:nth-child(odd) {
				@include last;
			}
		}
	}

	@include breakpoint($break_desktop) {
		@include span(2 of 12 last);
	}
}

.brief, .learned{
	padding: span(1) 0;
	background: $color_lightergray;
}

.brief{
	margin-top: 0 !important;
}

.learned{
	margin-bottom: 0 !important;

	.signature{
		@include retina-icon('gux-m');
		margin-top: span(1 of 10);
	}
}

.feature{

	.movable{
		position: absolute;
		width: 100%;
		height: 100%;

		img{
			width: 100%;
			height: auto;
			border: 1px solid $color_lightgray;
		}
	}
	
	figure{
		position: relative;
		margin: 0 auto;
		text-align: center;
		@include user-select(none);

		div[data-allow-enlarge] {
			.image-container{
				cursor: zoom-in;

				&:before, &:after{
					position: absolute;
					z-index: 1;
					font-size: 3em;
					margin: .5em;
					color: $color_logo_blue;
					opacity: 0;
					@extend .icon;
					@include transition(opacity .4s $easeOutCubic, visibility .4s, transform .4s $easeOutCubic);
				}

				&:before{
					left: 0;
					bottom: 0;
					@extend .icon-arrow-enlarge-left-content;
					@include translate(20px, -20px);
				}

				&:after{
					right: 0;
					top: 0;
					@extend .icon-arrow-enlarge-right-content;
					@include translate(-20px, 20px);
				}

				&:hover{
					&:before{
						opacity: 1;
						@include translate(0, 0);
					}

					&:after{
						opacity: 1;
						@include translate(0, 0);
					}
				}
			}
		}

		>div{
			position: relative;
			margin-bottom: span(1 of 12);

			&.image, &.video{
				@include inline-block(top);
				width: 100%;
				max-width: 100%;

				&.device{
					.movable{
						position: relative;
					}

					.aspect-container{
						height: auto;
					}
				}

				.aspect-container{
					max-width: 100%;
					height: 0;
				}
			}

			&.video{
				>.movable{
					position: absolute;
				}
			}

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

section{
	.device{
		height: auto !important;
	}
}

section.fluid.media{
	.desktop{
		.movable{
			@include device-desktop(100%);
		}
	}
	.mobile{
		.movable{
			@include device-mobile(60%);
		}
	}
	.tablet-portrait{
		.movable{
			@include device-tablet-portrait(80%);
		}
	}
	.tablet-landscape{
		.movable{
			@include device-tablet-landscape(100%);
		}
	}
}

section.full.media{
	.desktop{
		max-width: 960px !important;

		.movable{
			@include device-desktop(100%);
		}
	}
	.mobile{
		max-width: 350px !important;

		.movable{
			@include device-mobile(60%);
		}
	}
	.tablet-portrait{
		max-width: 500px !important;

		.movable{
			@include device-tablet-portrait(80%);
		}
	}
	.tablet-landscape{
		max-width: 740px !important;

		.movable{
			@include device-tablet-landscape(100%);
		}
	}
}

.siblings{
	@include clearfix;

	>a{
		position: relative;
		z-index: 0;
		display: block;
		@include dots-pattern;

		>.inner{
			position: relative;
			height: 0;
			padding-bottom: 38%;
			text-align: center;

			>.movable{
				@include absoluteTopLeft;
				width: 100%;
				height: 100%;
				overflow: hidden;
				@include transition(transform .2s $easeOutSine);

				>.background-container, >.text-container{
					@include absoluteTopLeft;
					width: 100%;
					height: 100%;

					@include flexbox((
						display: flex,
						align-items: center
					));

					>.inner{
						margin: 0 auto;
					}
				}

				>.background-container{
					background-position: center center;
					background-size: 100% 100%;
					color: black;
					@include translateY(0);
					@include transition(transform .2s $easeOutCubic);

					.icon{
						font-size: 5.1rem;
					}
				}

				>.text-container{
					background: $color_logo_blue;
					color: white;
					@include backfaceHidden;
					@include translateY(101%);
					@include transition(transform .2s $easeOutCubic);

					.icon{
						font-size: 1.7rem;
					}

					p{
						display: block;
						margin: 1rem auto 0 auto;
						font-family: $font_whitney_lightitalic;
						font-size: 1.6rem;
						line-height: 1.25;
						max-width: 150px;
					}
				}
			}
		}

		&.prev{
			@include first;
		}

		&.next{
			@include last;
		}

		&:hover{
			z-index: 1;

			&.prev{
				.movable{
					@include translate(1.5rem, -1.5rem);
				}
			}

			&.next{
				.movable{
					@include translate(-1.5rem, -1.5rem);
				}
			}

			.movable{
				>.background-container{
					@include translateY(-30%);
				}

				>.text-container{
					@include translateY(0);

					.icon{
						@include animation( fade-in-from-bottom .35s $easeOutCubic both );
						@include animation-delay(.1s);
					}

					p{
						@include animation( fade-in-from-bottom .35s $easeOutCubic both );
						@include animation-delay(.15s);
					}
				}
			}
		}

		@include breakpoint($break_mobile) {
			@include span(6 of 12);
			margin-top: span(1);
		}

		@include breakpoint($break_tablet) {
			@include span(6 of 12);
			margin: 6em auto;
		}

		@include breakpoint($break_desktop) {
			@include span(3 of 10);
			margin: 6em auto;
		}
	}
}