$color_lightergray: #F7F7F7;
$color_lightgray: #CCCCCC;
$color_gray: #979797;
$color_logo_red: #FF8680;
$color_logo_blue: #82BCFF;
$color_logo_yellow: #FFDCA4;
$color_logo_green: #C1D5D5;

$border-padding: 8px;

.white{
	color: white !important;
}

.blue{
	color: $color_logo_blue !important;
}

.red{
	color: $color_logo_red !important;
}

.yellow{
	color: $color_logo_yellow !important;
}

.green{
	color: $color_logo_green !important;
}

%color-text{
	color: $color_logo_blue !important;

	&.white{
		color: white !important;
	}

	&.blue{
		color: $color_logo_blue !important;
	}

	&.red{
		color: $color_logo_red !important;
	}

	&.yellow{
		color: $color_logo_yellow !important;
	}

	&.green{
		color: $color_logo_green !important;
	}
}

%color-background{
	background: $color_logo_blue !important;

	&.white{
		background: white !important;
	}

	&.blue{
		background: $color_logo_blue !important;
	}

	&.red{
		background: $color_logo_red !important;
	}

	&.yellow{
		background: $color_logo_yellow !important;
	}

	&.green{
		background: $color_logo_green !important;
	}
}

.subheading{
	line-height: 2;
	font-size: 1.2rem;
	text-transform: uppercase;
	text-align: left;

	&.above{
		color: $color_lightgray;
		font-size: 12px;
		letter-spacing: 1px;
	}
}

.description{
	font-family: $font_whitney_lightitalic;
}

%italic-heading{
	font-family: $font_whitney_bookitalic;
	text-transform: capitalize;
	color: $color_gray;
	letter-spacing: 0;
	line-height: 1;

	/* -- break-points -- */
	@include breakpoint($break_mobile) {
		font-size: 1.2rem;
	}

	@include breakpoint($break_tablet) {
		font-size: 1.4rem;
	}

	@include breakpoint($break_desktop) {
		font-size: 1.6rem;
	}
}

.border-heading{
	position: relative;
	line-height: 1;
	text-align: left;
	letter-spacing: .1em;
	@include inline-block(top);
	
	&.has-bottom{
		margin-bottom: calc(2rem + 10px);
	}

	>.border{
		@extend %color-background;
	}

	>.bottom, >.left{
		position: absolute;
	}

	>.bottom{
		top: 100%;
		left: 0;
		width: 30px;
		height: 10px;
		margin: 1rem 0;
		@include transition(width .25s);
	}

	>.left{
		bottom: 1rem;
		right: 100%;
		width: 10px;
		height: calc(100% - 2rem);
		margin: 0 1.5rem;
		@include transition(height .25s);
	}
}

.logo{
	display: inline-block;

	.icon{
		font-size: 2.5em;

		&.icon-shape-g{
			color: $color_logo_red;
		}

		&.icon-shape-u{
			color: $color_logo_blue;
		}

		&.icon-shape-x-up{
			color: $color_logo_yellow;
		}

		&.icon-shape-x-down{
			color: $color_logo_green;
			@include absoluteTopLeft;
		}
	}

	span{
		position: relative;
		@include inline-block(top);
	}
}

h1, h2, h3, h4, h5, h6{
	font-family: $font_flama;
	text-transform: uppercase;
}

h3, h4{
	/* -- break-points -- */
	@include breakpoint($break_mobile) {
		font-size: 2.8rem;
		line-height: (3.7/2.8);
	}

	@include breakpoint($break_tablet) {
		font-size: 3rem;
		line-height: (3.7/3);
	}

	@include breakpoint($break_desktop) {
		font-size: 3.2rem;
		line-height: (3.7/3.2);
	}
}

p{
	font-family: $font_whitney_light;
	font-size: 1.6rem;
	line-height: (2.6/1.6);
	letter-spacing: 0.12rem;
}

a{
	color: inherit;
	text-decoration: none;
}

legend{
	display: block;
	font-family: $font_flama;
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: .1rem;
}

label{
	display: block;
	font-family: $font_whitney_lightitalic;
	font-size: 1.6rem;
}

input, textarea, .textarea{
	@include appearance(none);
	outline: none !important;
	border: none;
	background: transparent;

	&:not([type="submit"]){
		border-bottom: 1px solid $color_lightgray;
		font-family: $font_whitney_light;
		font-size: 1.6rem;
		letter-spacing: .15rem;
		color: $color_gray;
		@include transition( border-color .25s );

		&:focus{
			border-color: $color_logo_blue;
		}
	}
}

textarea{
	resize: none;
}

article{
	p{
		margin-bottom: 2rem;

		&:last-child{
			margin-bottom: 0;
		}
	}
}