@import "global";
@import "animation";
@import "typography";
@import "ui";
@import "grid";
@import "header";
@import "footer";
@import "intro";
@import "contact";

body{
	&:not(.touch){
		overflow: hidden;
	}
}

#portfolio-navigation{
	position: absolute;
	top: 7em;
	z-index: 1;
	width: 100%;
	height: 0;
	background: rgba(0, 0, 0, .25);
	overflow: hidden;
	@include user-select(none);

	>.inner{
		position: absolute;
		width: 100%;
		height: 40vh;
		min-height: 400px;
		max-height: 700px;
		background: $color_lightergray;
		border: $border-padding solid white;
		border-top: none;
		overflow: hidden;

		>.particles-container{
			position: relative;
			width: calc(100% - #{15rem*2});
			height: calc(100% - #{10rem});
			margin: (10rem/2) auto;
		}

		li{
			position: absolute;
			margin-left: -15rem;
			width: 30rem;
			text-align: center;

			>a{
				display: inline-block;
				opacity: .3;
				@include transition(opacity .5s);

				.icon{
					@include inline-block(middle);
					font-size: 2rem;
					margin-right: .8rem;
					@include backfaceHidden;
				}

				h6{
					@include inline-block(middle);
					font-size: 1.2rem;
				}

				&:hover, &.active{
					opacity: 1;
				}
			}

			&:nth-child(3n+1) {
				.icon{
					@extend .icon-shape-g-stroke;
					@include rotate(0deg);
				}
			}

			&:nth-child(3n+2) {
				.icon{
					@extend .icon-shape-u-stroke;
					@include rotate(90deg);
				}
			}

			&:nth-child(3n+3) {
				.icon{
					@extend .icon-shape-x-stroke;
					@include rotate(180deg);
				}
			}

			&:nth-child(3n+4) {
				.icon{
					@extend .icon-shape-x-stroke;
					@include rotate(270deg);
				}
			}
		}

		>.close{
			position: absolute;
			right: ($border-padding * 2);
			bottom: ($border-padding * 2);
			z-index: 100;
			font-size: 2.2rem;
			line-height: 3.2rem;
			color: $color_lightgray;
			@include scale(1);
			@include transition(color .3s $easeOutSine, transform .3s $easeOutSine);

			&:hover{
				@include scale(.85);
				color: $color_logo_blue;
			}

			&:active{
				@include scale(.75);
			}
		}
	}

	&[data-category="projects"]{
		.labs{
			display: none;
		}
	}

	&[data-category="labs"]{
		.projects{
			display: none;
		}
	}
}

#main-container{
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	overflow: auto;

	@include breakpoint($break_above_mobile) {
		padding: $border-padding;
	}
}

#main-content{
	width: 100%;

	/* -- break-points -- */
	@include breakpoint($break_mobile) {
		padding-top: #{7em*.7};
	}

	@include breakpoint($break_tablet) {
		padding-top: calc(#{7em*.85} - #{$border-padding});
	}

	@include breakpoint($break_desktop) {
		padding-top: calc(7em - #{$border-padding});
	}
}

#projects{
	@import "home";
}

#labs{
	@import "labs";
}

#project-container{
	@import "project";
}

#about{
	@import "about";
}

#main-scrollbar{
	z-index: 10;
	top: calc(7em + #{$border-padding});
	height: calc(100% - #{7em*2});
}