{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_extends/_layout" %}
{% set pageTitle = "Page Not Found" %}
{% set pageId = "error-404" %}

{% block ogTitle %}{{ seo.ogTitle }}{% endblock %}
{% block ogDescription %}{{ seo.ogDescription }}{% endblock %}
{% block ogImage %}{{ seo.ogImage[0].url }}{% endblock %}

{% block body %}
	<div class="modal">
		<div class="inner">
			<h1>404</h1>
			<p>
				<span>Well. I’d say this is embarrassing, but it’s mostly awkward.</span>
				<span>It’s probably better if you just <a href="{{ siteUrl }}">turn around?</a></span>
				<span>Or you can <a href="mailto:{{ craft.systemSettings.email.emailAddress }}">contact me</a> to let me know what’s missing.</span>
			</p>
		</div>
		<div class="shadow"></div>
	</div>

	{% include "_includes/_footer" %}
{% endblock %}