{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<meta content="" property="og:url">
	<meta content="" property="og:title">
	<meta content="" property="og:description">
	<meta content="" property="og:image">

	<title>{{ siteName }}</title>
	
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="apple-touch-icon" href="assets/images/static/misc/icon-iphone.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/static/misc/icon-ipad.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/static/misc/icon-iphone4.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/images/static/misc/icon-ipad3.png">
	<link rel="shortcut icon" href="assets/images/static/misc/favicon.ico">
	<link rel="stylesheet" href="assets/styles/css/gux.css">

	<script>(function(w){var dpr=((w.devicePixelRatio===undefined)?1:w.devicePixelRatio);if(!!w.navigator.standalone){var r=new XMLHttpRequest();r.open('GET','assets/php/retinaimages.php?devicePixelRatio='+dpr,false);r.send()}else{document.cookie='devicePixelRatio='+dpr+'; path=/'}})(window)</script>
</head>

<body>
	<div id="container">
		<header id="header">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

			<nav>
				<ul>
					<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
				</ul>
			</nav>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

		<footer id="footer">
			Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with <a href="http://buildwithcraft.com">Craft</a>
		</footer>

		{% block scripts %}
		{% endblock %}
	</div>
</body>
</html>
