{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% set isAjax = (craft.request.getQuery("ajax") == "true") ? true : false %}
{% extends isAjax ? "_extends/_main-content" : "_extends/_main" %}

{% block ogTitle %}{{ seo.ogTitle }}{% endblock %}
{% block ogDescription %}{{ seo.ogDescription }}{% endblock %}
{% block ogImage %}{{ seo.ogImage[0].url }}{% endblock %}

{% block content %}
<div id="about">
	<section class="intro">
		<div class="container">
			<button class="scroll">
				<div class="icon icon-arrow-down"></div>
			</button>
		</div>
	</section>

	<section class="content">
		<aside data-sticky="true" data-sticky-position="top">
			<div class="portrait"></div>
		</aside>
		<div class="details">
			<div class="heading">
				<h3 class="greeting">{{ about.greeting }}</h3>
				<div class="border blue"></div>
				<div class="status">{{ about.currentStatus }}</div>

				{% include "_includes/_bordered-button"
						with {'classes': 'resume', 'href': about.resume[0].url, 'target': '_blank', 'text': Copy.downloadResume} %}
			</div>

			<hr>

			<div class="merits">
				{% set counter = 0 %}
				{% for merit in about.merits %}
					{% set hasFigure = merit.applications|length ? true : false %}
					<article class="merit {% if hasFigure == true %}has-figure{% else %}{% set counter = counter + 1 %}{% if counter is divisible by(2) %}even{% endif %}{% endif %}">
						<div class="heading-container">
							<h5 class="subheading above">{{ merit.subheading }}</h5>
							<h4>{{ merit.heading|nl2br }}</h4>
						</div>
						<div class="content-container">
							<p>{{ merit.paragraph }}</p>
							{% if hasFigure == true %}
								<figure>
									{% for app in merit.applications %}
										<div class="app-icon {{ app.value }}"></div>
									{% endfor %}
								</figure>
							{% endif %}
						</div>
					</article>
				{% endfor %}
			</div>

			<hr>

			<div class="social">
				<h3>{{ about.connectHeading|nl2br }}</h3>
				<div class="border blue"></div>
				<ul>
				{% for social in about.social %}
					{% if social.enabled == true %}
					<li>
						<a class="{{social.name}}-button" href="{{ social.url }}" target="_blank">
							<div class="icon icon-{{ social.name }}"></div>
							<p>{{ social.cta }}</p>
						</a>
					</li>
					{% endif %}
				{% endfor %}
				</ul>
				<span class="or">{{ Copy.or }}</span>

				{% include "_includes/_bordered-button"
						with {'classes': 'resume', 'href': about.resume[0].url, 'target': '_blank', 'text': Copy.downloadResume} %}
			</div>
		</div>
	</section>

	{% include "_includes/_footer" %}
</div>
{% endblock %}