{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

<header id="main-header">
	<div class="branding">
		{% include "_includes/_logo" %}
		<h1>{{ siteName }}</h1>
	</div>

	<nav class="navigation">
		<ul>
			<li><a href="{{ url('projects') }}" {% if craft.request.firstSegment == 'projects' %}class="active"{% endif %}>Projects</a></li>
			<li><a href="{{ url('labs') }}" {% if craft.request.firstSegment == 'labs' %}class="active"{% endif %}>Labs</a></li>
			<li><a href="{{ url('about') }}" {% if craft.request.firstSegment == 'about' %}class="active"{% endif %}>About</a></li>
		</ul>
	</nav>
</header>
<div id="main-container">
	<div id="main-content">
		<section>
			<h1>{{ entry.title }}</h1>
			<p>{{ entry.body }}</p>
		</section>

		<section id="projects">
			<ul>
				{% for entry in craft.entries.section('portfolio').find() %}
					{% if entry.portfolioCategory.first() == 'Projects' %}
					<li>
						<div class="text-container">
							<div class="inner">
								<time class="subheading above">{{ entry.year }}</time>
								<h3>{{ entry.title }}</h3>
								<p class="description">{{ entry.shortDescription }}</p>
								<a href="{{ entry.url }}" class="square-button">{{ Copy.viewProject }}</a>
							</div>
						</div>
						<div class="preview">
							<div class="image" style="background-image:url({{ entry.previewImage[0].url }})"></div>
						</div>
					</li>
					{% endif %}
				{% endfor %}
			</ul>
		</section>
	</div>
	<footer id="main-footer">
		{% include "_includes/_logo" %}
		<div class="info">
			<p class="copyright">{{ siteName }} &copy; Copyright 2010-{{ now.year }}.</p>
			<ul class="social">
			{% for social in footer.social %}
				<li><a class="icon icon-{{ social.id }}" href="{{ social.url }}" target="_blank"></a></li>
			{% endfor %}
			</ul>
		</div>
	</footer>
</div>
{% endblock %}

{% block scripts %}
<!-- third-party -->
<script src="{{ siteUrl }}/assets/js/thirdparty.js"></script>
<!-- project js -->
<script src="{{ siteUrl }}/assets/js/source/thirdparty/closure-library/closure/goog/base.js"></script>
<script src="{{ siteUrl }}/assets/js/source/project/gux-deps.js"></script>
<script src="{{ siteUrl }}/assets/js/source/project/gux.js"></script>

<!-- execute project js-->
<script>
	var config = {
		basePath: './',
		app: 'main'
	};

	gux.init( config );
</script>
{% endblock %}