{#
 # Labs index template
 # -------------------
 #
 # This template is loaded whenever http://../labs is requested
 #}

{% set isAjax = (craft.request.getQuery("ajax") == "true") ? true : false %}
{% extends isAjax ? "_extends/_main-content" : "_extends/_main" %}

{% set title = "Labs" %}

{% block content %}
<div id="labs">
	<article class="intro">
		{% include "_includes/_border-heading"
			with {'tag': 'h3', 'bottom': true, 'text': entry.heading} %}
		<div>
			{{ entry.body }}
		</div>
	</article>
	<div class="featured">
		<div class="inner">
			<div class="text-container">
			{% set featured = entry.featuredEntry[0] %}
			<p class="subheading above">{{ featured.genre }}</p>
			<h3>{{ featured.title }}</h3>
			<p class="description">{{ featured.shortDescription }}</p>
			<a href="{{ featured.url }}" class="bordered-button" data-ajax="true">{{ Copy.viewProject }}</a>
			</div>
		</div>
	</div>
	<ul>
		{% for entry in craft.entries.section('portfolio').order('year desc').find() %}
			{% if entry.portfolioCategory.first() == 'Labs' %}
			<li>
				<div class="text-container">
					<div class="inner">
						<time class="subheading above">{{ entry.genre }}</time>
						<h4>{{ entry.title }}</h4>
						<p class="description">{{ entry.shortDescription }}</p>
						<a href="{{ entry.url }}" class="bordered-button" data-ajax="true">{{ Copy.viewProject }}</a>
					</div>
				</div>
				<div class="preview">
					<div class="image" style="background-image:url({{ entry.previewImage[0].url }})"></div>
				</div>
			</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
{% endblock %}