{#
 # Labs index template
 # -------------------
 #
 # This template is loaded whenever http://../labs is requested
 #}

{% set isAjax = (craft.request.getQuery("ajax") == "true") ? true : false %}
{% extends isAjax ? "_extends/_main-content" : "_extends/_main" %}

{% set title = "Labs" %}

{% block content %}
<div id="labs">

	<article class="intro">
		{% include "_includes/_border-heading"
			with {'tag': 'h3', 'bottom': true, 'text': entry.heading} %}
		<div>
			{{ entry.body }}
		</div>
	</article>

	{% set featured = entry.featuredEntry[0] %}
	<div class="featured" data-lightbox-id="{{ featured.id }}">
		<div class="text-container">
			<h6 class="subheading white above">{{ featured.genre }}</h6>
			{% include "_includes/_border-heading"
				with {'tag': 'h3', 'left': true, 'bottom': true, 'text': featured.title, 'color': 'white'} %}
			<p class="description">{{ featured.shortDescription }}</p>

			{% include "_includes/_bordered-button"
				with {'classes': 'white', 'href': featured.url, 'text': Copy.viewProject, 'ajax': true, 'loaderId': featured.id} %}
		</div>
	</div>

	<ul class="projects">
		{% for project in entry.projects %}
			<li data-lightbox-id="{{ project.id }}">
				<div class="inner">
					<div class="text-container">
						<div class="inner">
							<h6 class="subheading above">{{ project.genre }}</h6>
							<h4>{{ project.heading|nl2br }}</h4>
							<p class="description">{{ project.shortDescription }}</p>

							{% include "_includes/_bordered-button"
								with {'href': project.url, 'text': Copy.viewProject, 'ajax': true, 'loaderId': project.id} %}
						</div>
					</div>
					<div class="preview">
						<div class="shapes"></div>
						<div class="image" style="background-image:url({{ project.previewImage[0].url }})"></div>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>

	{% include "_includes/_footer" %}

</div>
{% endblock %}