{% header "Content-Type: application/json" %}

{% set homeEntries = craft.entries.section('home').find()[0].projects %}
{% set labsEntries = craft.entries.section('labs').find()[0].projects %}
{% set entries = homeEntries|merge(labsEntries) %}

{
	"portfolio": {
	{% for entry in entries %}
		"{{ entry.id }}": {
			"heading": "{{ entry.heading|replace({'\r\n': '\\n'})  }}",
			"headingHtml": "{{ entry.heading|replace({'\r\n': '<br>'})|raw  }}",
			"genre": "{{ entry.genre }}",
			"color": "{{ entry.color }}",
			"shortDescription": "{{ entry.shortDescription }}"
		}{{ loop.last ? "" : "," }}
	{% endfor %}
	}
}